<h1>Players list:</h1>

<ul>
	<%= render :partial => "shared/player", :collection => @players %>
</ul>

<%= form_for Player.new do |f| %>
	<p><%= f.label :name %>
	<%= f.text_field :name %></p>
	<p><%= f.label :email %>
	<%= f.text_field :email %></p>
	<%= submit_tag "Add" %>
<% end %>