<h1>Futbolo!</h1>

<div class="button"><%= link_to 'Start A Match', new_match_path %></div>
<div class="button"><%= link_to 'add players', players_path%></div>

<h2>Last Matches:</h2>
<%= render :partial => "shared/match", :collection => @matches%>

<h2>Pichichi:</h2>
<%= render :partial => "shared/player", :collection => @pichichi %>

<h2>Zamora:</h2>
<%= render :partial => "shared/player", :collection => @zamora %>