<h1>New Match</h1>

<%= form_for @match do |f| %>
	<p><%= f.label :name %>
	<%= f.text_field :name %></p>
	<p><%= f.select :white_attacker_id, 	 player_selector , :prompt => 'White attacker' %></p>
	<p><%= f.select :white_goalkeeper_id, player_selector , :prompt => 'White Goalkeeper' %>	</p>
	<p><%= f.select :red_attacker_id, 		 player_selector , :prompt => 'Red attacker' %></p>
	<p><%= f.select :red_goalkeeper_id, 	 player_selector , :prompt => 'Red Goalkeeper' %>	</p>
	<%= submit_tag "Start game" %>
<% end %>