<p></p>
<div id="result"><%= @match.result %></div>
<p id="name"><%= @match.name %></p>
<div class="goal_link">
<% if @match.finnish? %>
	<p><strong>Start time:</strong><%= @match.start_time %></p>
	<p><strong>End time:</strong><%= @match.end_time %></p>
	<p><strong>Goals:</strong></p>
	<%= render :partial => 'shared/goal', :collection => @match.goals %>
<% else %>
	<%= render :partial => 'play_players' %>
<% end %>
</div>