<h1><%= @match.name %></h1>
<div id="result"><%= @match.result %></div>
<div class="goal_link">
<ul>
	<li>
	<%= link_to match_goal_path(@match, @match.white_goalkeeper.id), :method => :post do %>
		<%= image_tag @match.white_goalkeeper.gravatar_url %>
		<%= @match.white_goalkeeper.name %>
	<% end %>
	</li>
	<li>
	<%= link_to match_goal_path(@match, @match.white_attacker.id), :method => :post do %>
		<%= image_tag @match.white_attacker.gravatar_url %>
		<%= @match.white_attacker.name %>
	<% end %>
	</li>
	<li>
	<%= link_to match_goal_path(@match, @match.red_goalkeeper.id), :method => :post do %>
		<%= image_tag @match.red_goalkeeper.gravatar_url %>
		<%= @match.red_goalkeeper.name %>
	<% end %>
	</li>
	<li>
	<%= link_to match_goal_path(@match, @match.red_attacker.id), :method => :post do %>
		<%= image_tag @match.red_attacker.gravatar_url %>
		<%= @match.red_attacker.name %>
	<% end %>
	</li>
</ul>
</div>